absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
anyio==4.4.0
appdirs==1.4.4
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
Authlib==1.3.1
blinker==1.8.2
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Brotli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_27zk0eqdh0/croot/brotli-split_1714483157007/work
cachetools==5.4.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001737800/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
codemapper @ git+https://github.com/MikeyBeez/codemapper.git@7ed956226ec1b2f94da16650bf35839eb71dfe2f
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1711445912526/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1702997573971/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6dgq200203/croot/conda-package-streaming_1718136087190/work
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_31zgxm62w8/croot/cryptography_1714660690857/work
dataclasses-json==0.6.7
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
duckduckgo_search==6.2.11
emoji==2.12.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl#sha256=f72abb34bdf174876bd4267b29b2501677e605e0a251fdc56c163003182ed68b
entrypoints==0.4
environs==9.5.0
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==2.0.1
fabric==3.2.2
Faker==22.5.1
fastapi-jwt-auth==0.5.0
FastAPI-SQLAlchemy==0.2.1
fastjsonschema==2.19.1
favicon==0.7.0
feedfinder2==0.0.4
# Editable install with no version control (ferret==1.0.1)
-e /Users/bard/Code/ml-ferret
ffmpy==0.3.1
filetype==1.2.0
FLAML==2.1.1
flatbuffers==23.5.26
fonttools==4.47.0
fqdn==1.5.1
frozendict @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_8b0cest_id/croot/frozendict_1713194839836/work
frozenlist==1.3.3
fschat==0.2.34
fsspec==2023.12.2
gast==0.4.0
gitdb==4.0.11
google-ai-generativelanguage==0.6.4
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.18.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-generativeai==0.5.4
google-pasta==0.2.0
google-search-results==2.4.2
google-serp-api==1.0.3
googleapis-common-protos==1.56.4
gpt4all==2.0.2
gradio_client==0.1.2
greenlet==2.0.2
grpcio==1.65.4
grpcio-status==1.60.0
grpcio-tools==1.60.0
h11==0.14.0
h2==4.1.0
h5py==3.9.0
halo==0.0.31
hjson==3.1.0
hnswlib==0.8.0
hpack==4.0.0
htbuilder==0.6.2
httpcore==1.0.5
httplib2==0.22.0
httptools==0.5.0
httpx==0.25.2
httpx-sse==0.4.0
humanfriendly==10.0
hyperframe==6.0.1
identify==2.5.33
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
importlib-resources==5.12.0
importlib_metadata==8.2.0
iniconfig==2.0.0
InstructorEmbedding==1.0.1
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jedi==0.19.1
jieba3k==0.35.1
Jinja2==3.1.4
jira==3.5.0
jiter==0.5.0
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonmerge==1.9.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer==2.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
keyring==25.2.1
kiwisolver==1.4.5
kombu==5.2.4
kubernetes==30.1.0
lancedb==0.3.6
langchain==0.2.14
langchain-chroma==0.1.1
langchain-cli==0.0.19
langchain-community==0.2.12
langchain-core==0.2.34
langchain-experimental==0.0.49
langchain-google-genai==1.0.4
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.2
langcodes==3.4.0
langgraph==0.0.49
langserve==0.0.36
langsmith==0.1.76
language_data==1.2.0
libclang==16.0.6
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1699607558209/work/libmambapy
linkify-it-py==2.0.2
litellm==1.14.2
llama-cloud==0.0.13
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.63
llama-index-embeddings-azure-openai==0.1.11
llama-index-embeddings-huggingface==0.2.2
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.7
llama-index-legacy==0.9.48
llama-index-llms-azure-openai==0.1.10
llama-index-llms-openai==0.1.29
llama-index-multi-modal-llms-openai==0.1.9
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.32
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.9
llamaapi==0.1.36
log-symbols==0.0.14
loguru==0.7.0
lz4==4.3.2
Mako==1.2.4
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1699607558209/work/mamba
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==2.2.0
markdown2==2.4.12
markdownlit==0.0.7
MarkupSafe==2.1.5
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1705068367719/work
milvus-lite==2.4.7
minijinja==2.0.1
mistune==3.0.2
ml-dtypes==0.4.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
msal==1.30.0
msal-extensions==1.2.0
multidict==6.0.5
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
neovim==0.3.1
nervaluate==0.2.0
nest-asyncio==1.6.0
nh3==0.2.15
ninja==1.11.1.1
nodeenv==1.8.0
notebook_shim==0.2.3
numba==0.58.1
numexpr==2.8.4
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.47
ollama==0.2.1
onnxruntime==1.15.1
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
orjson==3.10.7
overrides==7.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandocfilters==1.5.1
parse==1.19.0
pathspec==0.12.1
pdf2image==1.16.3
peft==0.4.0
pep8==1.7.1
php==1.2.1
pinecone-client==2.2.1
pkginfo==1.10.0
platformdirs @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a8u4fy8k9o/croot/platformdirs_1692205661656/work
pluggy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-w6jyveby/pluggy_1648109277227/work
portalocker==2.8.2
posthog==3.0.1
pre-commit==3.3.3
preshed==3.0.9
prettytable==3.10.2
primp==0.6.1
prometheus-client==0.19.0
prompt_toolkit==3.0.47
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.7
pulsar-client==3.2.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
pyaml==23.12.0
pyarrow==15.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyautogen==0.2.2
pycocotools==2.0.7
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1696355969704/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.18.0
pydantic==1.10.17
pydantic-settings==2.4.0
pydantic_core==2.20.1
pydeck==0.8.1b0
pyee==8.2.2
PyGetWindow==0.0.9
Pygments==2.18.0
pylance==0.8.21
pymdown-extensions==10.7
# Editable install with no version control (pymemgpt==0.3.22)
-e /Users/bard/Code/MemGPT
pymilvus==2.4.3
Pympler==1.1
PyMsgBox==1.0.9
PyNaCl==1.5.0
pynvim==0.5.0
pyobjc==10.1
pyobjc-core==10.1
pyobjc-framework-Accessibility==10.1
pyobjc-framework-Accounts==10.1
pyobjc-framework-AddressBook==10.1
pyobjc-framework-AdServices==10.1
pyobjc-framework-AdSupport==10.1
pyobjc-framework-AppleScriptKit==10.1
pyobjc-framework-AppleScriptObjC==10.1
pyobjc-framework-ApplicationServices==10.1
pyobjc-framework-AppTrackingTransparency==10.1
pyobjc-framework-AudioVideoBridging==10.1
pyobjc-framework-AuthenticationServices==10.1
pyobjc-framework-AutomaticAssessmentConfiguration==10.1
pyobjc-framework-Automator==10.1
pyobjc-framework-AVFoundation==10.1
pyobjc-framework-AVKit==10.1
pyobjc-framework-AVRouting==10.1
pyobjc-framework-BackgroundAssets==10.1
pyobjc-framework-BusinessChat==10.1
pyobjc-framework-CalendarStore==10.1
pyobjc-framework-CallKit==10.1
pyobjc-framework-CFNetwork==10.1
pyobjc-framework-Cinematic==10.1
pyobjc-framework-ClassKit==10.1
pyobjc-framework-CloudKit==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-Collaboration==10.1
pyobjc-framework-ColorSync==10.1
pyobjc-framework-Contacts==10.1
pyobjc-framework-ContactsUI==10.1
pyobjc-framework-CoreAudio==10.1
pyobjc-framework-CoreAudioKit==10.1
pyobjc-framework-CoreBluetooth==10.1
pyobjc-framework-CoreData==10.1
pyobjc-framework-CoreHaptics==10.1
pyobjc-framework-CoreLocation==10.1
pyobjc-framework-CoreMedia==10.1
pyobjc-framework-CoreMediaIO==10.1
pyobjc-framework-CoreMIDI==10.1
pyobjc-framework-CoreML==10.1
pyobjc-framework-CoreMotion==10.1
pyobjc-framework-CoreServices==10.1
pyobjc-framework-CoreSpotlight==10.1
pyobjc-framework-CoreText==10.1
pyobjc-framework-CoreWLAN==10.1
pyobjc-framework-CryptoTokenKit==10.1
pyobjc-framework-DataDetection==10.1
pyobjc-framework-DeviceCheck==10.1
pyobjc-framework-DictionaryServices==10.1
pyobjc-framework-DiscRecording==10.1
pyobjc-framework-DiscRecordingUI==10.1
pyobjc-framework-DiskArbitration==10.1
pyobjc-framework-DVDPlayback==10.1
pyobjc-framework-EventKit==10.1
pyobjc-framework-ExceptionHandling==10.1
pyobjc-framework-ExecutionPolicy==10.1
pyobjc-framework-ExtensionKit==10.1
pyobjc-framework-ExternalAccessory==10.1
pyobjc-framework-FileProvider==10.1
pyobjc-framework-FileProviderUI==10.1
pyobjc-framework-FinderSync==10.1
pyobjc-framework-FSEvents==10.1
pyobjc-framework-GameCenter==10.1
pyobjc-framework-GameController==10.1
pyobjc-framework-GameKit==10.1
pyobjc-framework-GameplayKit==10.1
pyobjc-framework-HealthKit==10.1
pyobjc-framework-ImageCaptureCore==10.1
pyobjc-framework-InputMethodKit==10.1
pyobjc-framework-InstallerPlugins==10.1
pyobjc-framework-InstantMessage==10.1
pyobjc-framework-Intents==10.1
pyobjc-framework-IntentsUI==10.1
pyobjc-framework-IOBluetooth==10.1
pyobjc-framework-IOBluetoothUI==10.1
pyobjc-framework-IOSurface==10.1
pyobjc-framework-iTunesLibrary==10.1
pyobjc-framework-KernelManagement==10.1
pyobjc-framework-LatentSemanticMapping==10.1
pyobjc-framework-LaunchServices==10.1
pyobjc-framework-libdispatch==10.1
pyobjc-framework-libxpc==10.1
pyobjc-framework-LinkPresentation==10.1
pyobjc-framework-LocalAuthentication==10.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.1
pyobjc-framework-MailKit==10.1
pyobjc-framework-MapKit==10.1
pyobjc-framework-MediaAccessibility==10.1
pyobjc-framework-MediaLibrary==10.1
pyobjc-framework-MediaPlayer==10.1
pyobjc-framework-MediaToolbox==10.1
pyobjc-framework-Metal==10.1
pyobjc-framework-MetalFX==10.1
pyobjc-framework-MetalKit==10.1
pyobjc-framework-MetalPerformanceShaders==10.1
pyobjc-framework-MetalPerformanceShadersGraph==10.1
pyobjc-framework-MetricKit==10.1
pyobjc-framework-MLCompute==10.1
pyobjc-framework-ModelIO==10.1
pyobjc-framework-MultipeerConnectivity==10.1
pyobjc-framework-NaturalLanguage==10.1
pyobjc-framework-NetFS==10.1
pyobjc-framework-Network==10.1
pyobjc-framework-NetworkExtension==10.1
pyobjc-framework-NotificationCenter==10.1
pyobjc-framework-OpenDirectory==10.1
pyobjc-framework-OSAKit==10.1
pyobjc-framework-OSLog==10.1
pyobjc-framework-PassKit==10.1
pyobjc-framework-PencilKit==10.1
pyobjc-framework-PHASE==10.1
pyobjc-framework-Photos==10.1
pyobjc-framework-PhotosUI==10.1
pyobjc-framework-PreferencePanes==10.1
pyobjc-framework-PushKit==10.1
pyobjc-framework-Quartz==10.1
pyobjc-framework-QuickLookThumbnailing==10.1
pyobjc-framework-ReplayKit==10.1
pyobjc-framework-SafariServices==10.1
pyobjc-framework-SafetyKit==10.1
pyobjc-framework-SceneKit==10.1
pyobjc-framework-ScreenCaptureKit==10.1
pyobjc-framework-ScreenSaver==10.1
pyobjc-framework-ScreenTime==10.1
pyobjc-framework-ScriptingBridge==10.1
pyobjc-framework-SearchKit==10.1
pyobjc-framework-Security==10.1
pyobjc-framework-SecurityFoundation==10.1
pyobjc-framework-SecurityInterface==10.1
pyobjc-framework-SensitiveContentAnalysis==10.1
pyobjc-framework-ServiceManagement==10.1
pyobjc-framework-SharedWithYou==10.1
pyobjc-framework-SharedWithYouCore==10.1
pyobjc-framework-ShazamKit==10.1
pyobjc-framework-Social==10.1
pyobjc-framework-SoundAnalysis==10.1
pyobjc-framework-Speech==10.1
pyobjc-framework-SpriteKit==10.1
pyobjc-framework-StoreKit==10.1
pyobjc-framework-Symbols==10.1
pyobjc-framework-SyncServices==10.1
pyobjc-framework-SystemConfiguration==10.1
pyobjc-framework-SystemExtensions==10.1
pyobjc-framework-ThreadNetwork==10.1
pyobjc-framework-UniformTypeIdentifiers==10.1
pyobjc-framework-UserNotifications==10.1
pyobjc-framework-UserNotificationsUI==10.1
pyobjc-framework-VideoSubscriberAccount==10.1
pyobjc-framework-VideoToolbox==10.1
pyobjc-framework-Virtualization==10.1
pyobjc-framework-Vision==10.1
pyobjc-framework-WebKit==10.1
pyOpenSSL @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_94bn0tgaw5/croot/pyopenssl_1708381744097/work
pypandoc==1.12
pyparsing==3.1.1
pyperclip==1.9.0
PyPika==0.48.9
pyppeteer==0.2.5
pyproject_hooks==1.1.0
pyreadline3==3.4.1
PyRect==0.2.0
pyreqwest_impersonate==0.4.7
pysam==0.22.1
PyScreeze==0.1.30
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-box==7.2.0
python-dateutil==2.8.2
python-docx==1.1.0
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
python-pptx==0.6.21
pytweening==1.2.0
pytz==2023.4
PyYAML==6.0.2
qdrant-client==1.2.0
questionary==2.0.1
ratelimiter==1.2.0.post0
readme_renderer==44.0
referencing==0.32.1
regex==2023.5.5
replicate==0.8.4
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-file==1.5.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.17.1
rq==1.15.1
rsa==4.9
ruamel.yaml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_aeh5mqcw49/croot/ruamel.yaml_1666304555976/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1707314852085/work
rubicon-objc==0.4.9
RUST==1.3.1
safetensors==0.4.3
semantic-version==2.10.0
semver==3.0.2
Send2Trash==1.8.2
sentence-transformers==3.0.1
sentencepiece==0.1.99
sentry-sdk==1.39.1
setproctitle==1.3.3
sgmllib3k==1.0.0
shellingham==1.5.4
shortuuid==1.0.11
six==1.16.0
slack-sdk==3.21.3
slugify==0.0.1
smmap==5.0.1
sniffio==1.3.0
socksio==1.0.0
soupsieve==2.4.1
spacy-curated-transformers==0.2.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spinners==0.0.24
SQLAlchemy==2.0.32
sqlalchemy-json==0.7.0
SQLAlchemy-Utils==0.41.2
sqlmodel==0.0.16
srsly==2.4.8
sse-starlette==1.8.2
st-annotated-text==4.0.1
stack-data==0.6.3
stanza==1.8.2
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.6
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
striprtf==0.0.26
svgwrite==1.4.3
tenacity==8.3.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
terminado==0.18.0
text-unidecode==1.3
thinc==8.2.4
threadpoolctl==3.2.0
timm==0.6.13
tinycss2==1.2.1
tinysegmenter==0.3
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
toolz==0.12.1
tornado==6.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
traitlets==5.14.1
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
tweepy==4.14.0
typer==0.9.0
types-python-dateutil==2.8.19.20240106
typing-inspect==0.8.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
uc-micro-py==1.0.2
unstructured==0.8.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.19
uvloop==0.17.0
validators==0.21.0
vine==5.0.0
w3lib==2.1.1
wasabi==1.1.3
watchfiles==0.19.0
wavedrom==2.0.3.post3
wcwidth==0.2.13
weasel==0.4.1
weaviate-client==3.19.0
webcolors==1.13
websockets==8.1
Werkzeug==3.0.1
widgetsnbextension==4.0.11
wikipedia==1.4.0
wrapt==1.14.1
wxPython==4.2.1
xlrd==2.0.1
XlsxWriter==3.1.9
yarl==1.9.4
zipp==3.15.0
zstandard==0.22.0
